
.active {
    background-color: #fc07bf;
  }

.sml {
        width: 50%;
    
    
}  
body {
    background-color: #32373F;
}

.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: start;
    margin: 5px;
}

.flex_child{
    display: block;
    width: 45%;
    margin:10px;
}
iframe{
    box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.75);

}
.red{
    background-color: rgb(204, 217, 235);
}
.side{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex; 
    justify-content: top; 
    align-items: center;
    flex-direction: column;
    }

.maintext {
    margin-block: 20px;
    padding-block: 10px;
    margin-left: 25%;
    margin-right: 25%;
    background-color: #141619;
    height: 100%;
    box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.75);

}
.Home {

    width: 50%;
}

.link{
    margin-inline: auto;
    background-color: #323436;
    border: 1px solid white;
    width: 25%;
    padding-block: 15px;
    box-shadow: 10px 10px 22px 0px rgba(161, 161, 161, 0.75);
    transition: transform .5s; /* Animation */
    text-decoration: none;

}
.link:hover{
    transform: scale(1.5);
    box-shadow: 0px 0px 50px 0px rgba(161, 161, 161, 0.75);
    background-color: #e463d97a;

}

.center {
    text-align: center;
}



header{
    grid-area: header;
}

nav{
    grid-area: nav;
}

input {
    width: 90%;
    padding: 12px 20px;
    margin-inline: 5%;
    margin-top: 25px;
    box-sizing: border-box;
    background-color: #323436;
    box-shadow: 5px 5px 6px 0px rgba(133, 133, 133, 0.75);

}

input, textarea{
    color: #ffffff;
}
textarea {
    width: 90%;
    padding: 12px 20px;
    margin-inline: 5%;
    margin-top: 25px;
    text-emphasis-color: white;
    box-sizing: border-box;
    background-color: #323436;
}
main{
    grid-area: main;
    display: flex; 
    justify-content: top; 
    align-items: center;
    flex-direction: column;
    
    
}


aside.side{
grid-area: sidebar;

}
aside.text {
    grid-area: text;
}

footer
{
    grid-area: footer;
    display: flex;
    background-color: lightskyblue;
    color: rgba(92, 92, 92, 0.808);

}


h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 50px;
    font-family: 'Lora', serif;
    color: whitesmoke;

}
h2 { text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 35px;
    font-family: 'Lora', serif;
    color: whitesmoke;
}
h3 {
    text-align: center;
    font-family: 'Lora', serif;
    color: whitesmoke;
}
p {
    font-family: arial, serif;
    text-align: center;
    color: whitesmoke;
    margin: 25px;
}



.footer {
    flex: 1; 
}
.right {
    text-align: right;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
display: flex;



}
li {
flex:1;
}

li a {
display: block;
color: white;
text-align: center;
padding: 15px 16px;
text-decoration: none;

}

li a:hover {
background-color: #e463d97a;
}  

iframe {
    margin-top: 20px;
}

@media screen and (max-width: 850px) {
    ul {
        flex-direction: column;
    } 
    footer {
        
        flex-direction: column;
        align-content: flex-start;
            }
    .right{
    text-align: left;
    }
    .center {
        margin-top: 0px;
    }
    
    
}

@media screen and (max-width: 1100px) {
    ul {
        flex-direction: column;
    } 
    footer {
        flex-direction: column;
        align-content: flex-start;
            }
    .right{
    text-align: left;
    }
    .center {
        margin-top: 0px;
    }
    h1 {
        font-size: 35px
      
    }
    .maintext{
        margin-left: 0%;
        margin-right: 0%;
    }

    .flex_child{
        width: 80%;
    }

    .flex_child:nth-child(1){
        order: 1
    }

@media screen and (max-width: 480px) {
    ul {
        flex-direction: column;
    } 
    footer {
        flex-direction: column;
        align-content: flex-start;
            }
    .right{
    text-align: left;
    }
    .center {
        margin-top: 0px;
    }
    .container {
        grid-template-rows: 150px auto auto auto 100px;
    }

    h1 {
        font-size: 30px
    }
    .maintext{
        margin-left: 0%;
        margin-right: 0%;
    }
}
}
